//npm run watch-css
$base-grey: #333333;
$highlight: #949293;
$light-grey: #BBB;
$medium-grey: #999999;

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: $base-grey;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.route-container {
  width: 60%;
  margin: 50px auto;
  min-height: calc(100vh - 350px);
  @media only screen and (max-width: 1350px) {
    width: 90%;
    margin: 30px auto;
  }
}

a {
  text-decoration: none;
  color: $base-grey;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fa-angle-right {
  &.mini {
    margin-left: 10px;
  }
}

.nav {
  padding: 25px 25px 25px 25px;
  margin: 0;
  display: flex;
  .home {
    width: 50%;
    .logo {
      text-align: center;
      width: fit-content;
    }
    h1 {
      font-size: 36px;
      font-weight: 300;
      margin: 0;
      // letter-spacing: 3px;
      font-family: 'Open Sans', serif;
    }
    P {
      font-size: 12px;
      font-weight: 100;
      margin: 0;
      // letter-spacing: 3px;
      font-family: 'Open Sans', serif;
    }
  }
  .nav-links-wrapper {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-top: 3px;
  }
  .nav-link {
    display: inline-flex;
    padding-right: 50px;
    font-size: 14px;
    align-items: flex-end;
  }
  .nav-link:hover {
   color: $highlight;
  }
}

.about {
  text-align: center;
  margin: 0 50px;
  img {
    max-width: 25%;
    height: auto;
  }
  h2 {
    font-size: 40px;
    font-weight: 300;
    font-family: 'Bad Script', cursive;
    @media only screen and (max-width: 500px) {
      font-size: 30px;
    }
  }
}

.resume-text {
  display: flex;
  flex-wrap: wrap;
  h3 {
    margin: 0 0 25px 0;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Bad Script', cursive;
  }
  li {
    font-weight: 300;
  }
  h4 {
    margin: 5px;
  }
  a h4:hover {
    color: $highlight;
  }
  section {
    width: 100%;
    padding: 15px;
  }
  .technologies .icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto 15px auto;
   i {
      color: $base-grey;
      margin: 15px;
      font-size: 50px;
    }
  }
  .education {
    display: flex;
    flex-wrap: wrap;
    div {
      width: 50%;
    }
    @media only screen and (max-width: 500px) {
      flex-direction: column;
      div {
        width: 100%;
      }
    }
  }
  .experience {
    h3 {
      margin-bottom: 0px;
    }
    div {
      margin-top: 30px;
    }
    ul {
      margin: 20px auto 0px auto;
    }
    li {
      margin-bottom: 20px;
    }
  }
}
.projects {
  font-size: 16px;
  font-weight: 300;
  h3 {
    margin: 0;
  }
  a img {
    max-width: 501px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    @media only screen and (max-width: 800px) {
      max-width: 100%;
    }
    &:hover {
      cursor: pointer;
      opacity: .3;
    }
  }
  .project {
    display: flex;
    margin-bottom: 50px;
    .project-info {
      margin-left: 25px;
    }
    @media only screen and (max-width: 800px) {
      justify-content: center;
      flex-wrap: wrap;
      .project-info {
        margin-left: 0px;
        max-width: 500px;
      }
    }
  }
  .interior-links {
   margin: 70px auto;
   font-weight: 400;
   text-align: center;
  }
  .interior-links:hover {
   color: $highlight;
  }
}

.interior-design {
  font-size: 16px;
  font-weight: 300;
  h2 {
    font-size: 40px;
    font-weight: 300;
    font-family: 'Bad Script', cursive;
    width: fit-content;
    margin: 0 auto 10px auto;
    @media only screen and (max-width: 500px) {
      font-size: 30px;
    }
  }
  p {
    width: fit-content;
    margin: 0 auto 20px auto;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  img {
    margin: 40px 15px;
    height: 200px;
  }
}

footer {
  margin-top: 50px;
  border-top: .5px $light-grey dotted;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  p {
    font-weight: 300;
    font-size: 14px;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fa {
    font-size: 18px;
    margin: 0 5px;
  }
}
