body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333333; }

.container {
  max-width: 1500px;
  margin: 0 auto; }

.route-container {
  width: 90%;
  margin: 50px auto;
  min-height: calc(100vh - 350px); }
  @media only screen and (max-width: 1350px) {
    .route-container {
      width: 90%;
      margin: 30px auto; } }

a {
  text-decoration: none;
  color: #333333; }

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.fa-angle-right.mini {
  margin-left: 10px; }

.nav {
  padding: 25px 25px 25px 25px;
  margin: 0;
  display: flex; }
  .nav .home {
    width: 50%; }
    .nav .home .logo {
      text-align: center;
      width: fit-content; }
    .nav .home h1 {
      font-size: 36px;
      font-weight: 300;
      letter-spacing: 2px;
      margin: 0;
      font-family: 'Open Sans', serif; }
    .nav .home P {
      font-size: 12px;
      font-weight: 100;
      margin: 0;
      font-family: 'Open Sans', serif; }
  .nav .nav-links-wrapper {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-top: 3px; }
  .nav .nav-link {
    display: inline-flex;
    padding-right: 50px;
    font-size: 14px;
    align-items: flex-end; }
  .nav .nav-link:hover {
    color: #949293; }

.about {
  text-align: center;
  margin: 0 auto;
  width: 60%; }
  .about img {
    max-width: 40%;
    height: auto; }
  .about h2 {
    font-size: 40px;
    font-weight: 300;
    font-family: 'Bad Script', cursive; }
    @media only screen and (max-width: 500px) {
      .about h2 {
        font-size: 30px; } }

.resume-text {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 60%; }
  .resume-text h3 {
    margin: 0 0 25px 0;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Bad Script', cursive; }
  .resume-text li {
    font-weight: 300; }
  .resume-text h4 {
    margin: 5px; }
  .resume-text a h4:hover {
    color: #949293; }
  .resume-text section {
    width: 100%;
    padding: 15px; }
  .resume-text .technologies .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto 15px auto; }
    .resume-text .technologies .icons i {
      color: #333333;
      margin: 15px;
      font-size: 50px; }
  .resume-text .education {
    display: flex;
    flex-wrap: wrap; }
    .resume-text .education div {
      width: 50%; }
    @media only screen and (max-width: 500px) {
      .resume-text .education {
        flex-direction: column; }
        .resume-text .education div {
          width: 100%; } }
  .resume-text .experience h3 {
    margin-bottom: 0px; }
  .resume-text .experience div {
    margin-top: 30px; }
  .resume-text .experience ul {
    margin: 20px auto 0px auto; }
  .resume-text .experience li {
    margin-bottom: 20px; }

.projects {
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto;
  width: 60%; }
  .projects h3 {
    margin: 0; }
  .projects a img {
    max-width: 501px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 800px) {
      .projects a img {
        max-width: 100%; } }
    .projects a img:hover {
      cursor: pointer;
      opacity: .3; }
  .projects .project {
    display: flex;
    margin-bottom: 50px; }
    .projects .project .project-info {
      margin-left: 25px; }
    @media only screen and (max-width: 800px) {
      .projects .project {
        justify-content: center;
        flex-wrap: wrap; }
        .projects .project .project-info {
          margin-left: 0px;
          max-width: 500px; } }
  .projects .interior-links {
    margin: 70px auto;
    font-weight: 400;
    text-align: center; }
  .projects .interior-links:hover {
    color: #949293; }

.interior-design {
  font-size: 16px;
  font-weight: 300; }
  .interior-design h2 {
    font-size: 40px;
    font-weight: 300;
    font-family: 'Bad Script', cursive;
    width: fit-content;
    margin: 0 auto 10px auto; }
    @media only screen and (max-width: 500px) {
      .interior-design h2 {
        font-size: 30px; } }
  .interior-design p {
    width: fit-content;
    margin: 0 auto 20px auto; }
  .interior-design .images {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .interior-design .images div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
  .interior-design img {
    margin: 40px 15px;
    height: 200px; }

footer {
  margin-top: 50px;
  border-top: 0.5px #BBB dotted;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0; }
  footer p {
    font-weight: 300;
    font-size: 14px; }
  footer .social {
    display: flex;
    align-items: center;
    justify-content: center; }
  footer .fa {
    font-size: 18px;
    margin: 0 5px; }
